.containerText {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: "SF Mono";
    color: #03e100;
}

.containerText > h2 > span {
    color: #0a0a0a;
}

.containerTree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.tree {
  text-align: center;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.tree li {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li a {
  border: 2px solid #0a0a0a;
  background: #03e100;
  padding: 10px 20px;
  text-decoration: none;
  color: #0a0a0a;
  font-family: "JetBrains Mono";
  font-size: 15px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  position: relative; 
}

.tree li a img {
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  margin-bottom: 10px;
}

.tree li a:hover,
.tree li a:hover + ul li a {
  background: #0a0a0a;
  color: #ffffff;
  border: 2px solid #03e100;
}

.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
  border-color: #94a0b4;
}
