.bannerContainer {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../public/images/bannerNuestraHistoria.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner {
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerContent {
  text-align: start;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 80px 0;
}

.bannerTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #03e100;
}

.bannerSubtitle {
  font-size: 48px;
  margin-top: 0;
}
