.titleh1 {
  font-size: 60px;
}
.titleh3 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.titleh6 {
  font-size: 22px;
}

.banner h1,
.banner h3,
.banner h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.banner {
  color: white;
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../public/images/bannerOfficeWp.jpg");
  background-size: cover;
  opacity: 0.9;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
