.sliderContainer {
  padding: 100px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #f8f9fa;
}

.title {
  text-align: center;
  width: auto;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-top: 10vh;
}

.logosContainer {
  display: flex;
  align-items: center;
  width: 200%;
  animation: slide 20s linear infinite;
  animation-direction: alternate;
}

.line {
  margin-top: 50px;
  border: 1px solid #e2e2e2;
  width: 100%;
}

.logoItem {
  flex: 0 0 auto;
  margin-right: 150px;
}

.logoItem img {
  height: 50px;
}


@media (min-width: 320px) and (max-width: 640px) {
  .title {
    font-size: 20px !important;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
