.title {
  text-align: center;
  background-color: #ffffff;
  width: auto;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-top: 10vh;
}

.container {
  padding: 40px;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.image {
  width: 100%;
  max-height: 90px;
  object-fit: scale-down;
  padding-bottom: 20px;
}

.stadisticsContainer {
  border-top: 1px solid #333;
  padding-top: 20px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .title {
    font-size: 20px !important;
  }
}