.footer {
  background-color: #0a0a0a;
  color: #fff;
  padding: 80px 0;
  font-family: Arial, sans-serif;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footerInfo {
  flex-basis: 25%;
  margin-right: 30px;
}

.footerLogo {
  max-width: 180px;
  font-size: 40px;
  color: #03e100;
  font-family: 'ubuntu', sans-serif;
}

.footerText {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 25px;
}

.footerText p {
  font-family: 'ubuntu', sans-serif;
}

.footerSocial {
  margin-top: 25px;
}

.footerSocial span {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.footerSocial a {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

.footerSocial a:hover {
  color: #03e100;
}

.footerLinks {
  flex-basis: 25%;
}

.footerLinksHeading h3 {
  font-size: 20px;
  margin-bottom: 22px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks ul li {
  margin-bottom: 12px;
}

.footerLinks ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.footerLinks ul li a:hover {
  color: #03e100;
}

.footerSubscribe {
  flex-basis: 25%;
  max-width: 100%;
}

.footerSubscribeHeading h3 {
  font-size: 20px;
  margin-bottom: 22px;
}

.footerSubscribeText {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 22px;
}

.footerSubscribeForm input {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
}

.footerSubscribeForm button {
  width: 30%;
  padding: 12px;
  background-color: #03e100;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "ubuntu", sans-serif;
}

.footerSubscribeForm button:hover {
  background-color: #0056b3;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #444;
  max-width: 1200px;
  margin: 50px auto 0;
}

.footerCopyright p {
  font-size: 15px;
  color: #aaa;
}

.footerCopyright a {
  color: #03e100;
  text-decoration: none;
  transition: color 0.3s;
}

.footerCopyright a:hover {
  color: #fff;
}

.footerMenu ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.footerMenu ul li {
  margin-left: 25px;
}

.footerMenu ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.footerMenu ul li a:hover {
  color: #fff;
}
