.formContainer {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.formHeader {
  margin-bottom: 30px;
}

.formHeader h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Geist Mono';
  color: #ED2939;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  /* Título en mayúsculas */
  position: relative;
}

.formHeader h1::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #002654;
  /* Línea de acento */
  margin: 8px auto 0;
  /* Alineado en el centro */
}

.formHeader h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Geist Mono';
  color: #7f8c8d;
  /* Color gris suave para el subtítulo */
  margin: 10px 0 0;
  /* Espacio pequeño entre el título y el subtítulo */
  text-transform: none;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper.half {
  width: calc(50% - 10px);
  /* Mitad del ancho con margen */
}

.input,
.textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.textarea {
  height: 120px;
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: #002654;
  outline: none;
}

.label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #333;
  font-size: 16px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label,
.textarea:focus+.label,
.textarea:not(:placeholder-shown)+.label {
  top: -20px;
  left: 10px;
  color: #333;
  font-size: 12px;
}

.submitBtn {
  padding: 15px;
  background-color: #ED2939;
  font-family: 'Geist Mono';
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}