.container, .videoBackground, .videoBackground video, .videoOverlay, .content, .textContainer, .mainTitleTop, .mainTitleBot, .descripcionHomeView, .button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.videoBackground {
  position: relative;
  width: 100%;
  height: 60vh; /* Ajusta la altura del video aquí */
  overflow: hidden;
}

.videoBackground video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  z-index: 1;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: justify;
}

.textContainer {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.mainTitleTop, .mainTitleBot, .descripcionHomeView {
  font-family: 'Ubuntu', sans-serif;
  margin: 20px 0;
  word-wrap: break-word;
}

.mainTitleTop {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.mainTitleBot {
  font-size: 3rem;
  font-weight: 600;
  color: #00ff00;
}

.descripcionHomeView {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  text-align: justify;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  background-color: #03e100;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.button:hover {
  background-color: #02c500;
}

@media (max-width: 768px) {
  .mainTitleTop, .mainTitleBot {
    font-size: 2rem;
  }

  .descripcionHomeView {
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.0rem;
    padding: 10px 20px;
  }

  .content {
    width: 90%;
    left: 5%;
    transform: translate(0, -50%);
  }
}

@media (max-width: 480px) {
  .mainTitleTop, .mainTitleBot {
    font-size: 1.5rem;
  }

  .descripcionHomeView {
    font-size: 1rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .content {
    width: 95%;
    left: 2.5%;
    transform: translate(0, -50%);
  }
}

@media (max-width: 330px) {
  .mainTitleTop, .mainTitleBot, .descripcionHomeView {
    font-size: 1rem;
  }

  .button {
    font-size: 0.6rem;
    padding: 4px 8px;
  }

  .content {
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
  }
}
