.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20vh;
  padding: 5%; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  background-color: #fff;
}

.title {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
}

.strongText {
  margin-bottom: 1.5rem;
  font-size: 30px;
  color: #03e100;
  font-family: "Ubuntu", sans-serif;
}

.containerP {
  max-width: 40%;
}

.pText {
  margin-bottom: 1.5rem;
  font-size: 17px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  background-color: #03e100;
  padding: 12px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s;
}

.btn:hover {
  color: #f8f9fa;
  transition: 0.2s;
}

.imageContainer {
  width: 80%; /* Ajusta el ancho de la imagen según tus necesidades */
  height: 30%; /* Esto mantendrá la relación de aspecto de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%; /* Esto asegura que la imagen no se salga del contenedor */
  height: 30%; /* Esto mantendrá la relación de aspecto de la imagen */
}