.containerText {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 44px;
  margin-top: 20px;
  color: #333;
}

.listaContainer {
  padding: 20px;
}

.goToLinkendinTag {
  color: #03e100;
  text-decoration: underline;
}

.goToLinkendinTag:hover {
  color: #04ad01;
  text-decoration: underline;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}