.numberCounter {
  padding: 2rem 0;
}

.numberCounterGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.numberCounterItem {
  text-align: center;
}

.numberCounterValue {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #002654;
}

.numberCounterLabel {
  font-size: 1.2rem;
  font-family: 'Geist Mono';
}

@media (max-width: 1024px) {
  .numberCounterGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .numberCounterGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .numberCounterGrid {
    grid-template-columns: 1fr;
  }

  .numberCounterValue {
    font-size: 2.5rem;
  }

  .numberCounterLabel {
    font-size: 1rem;
  }
}
