.container {
  padding: 40px;
  background-color: #0a0a0a;
  padding-bottom: 80px;
}

.titleContainer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #fff;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carouselItem:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.image {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: scale-down;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 1em;
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 10px; /* Agregar margen inferior para separar del botón */
}

.button {
  background-color: #03e100;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "JetBrains Mono", "Sans serif";
}

.button:hover {
  background-color: #1a1a1a;
  color: #fff;
}
