.timelinecontainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  font-family: "Montserrat", sans-serif;
}

.timelineheader {
  text-align: center;
  margin-bottom: 40px;
}

.timelineheader h2 {
  color: #0a0a0a;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  font-family: "Inconsolata";
}

.timeline {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.timelineitem {
  position: relative;
  padding-left: 80px;
  padding-bottom: 40px;
}

.timelineitem:before {
  content: "";
  background-color: #03e100;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timelineitem:after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 10px;
  top: 2px;
}

.timelinecontent {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.timelinetitle {
  color: #03e100;
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Gesit mono";
}

.timelinedate {
  color: #555;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Gesit mono";
}

.timelinedescription {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Gesit mono";
}
